<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pagina de inicio</title>
</head>
<body>
	<center>
		<h1 class="bienv">Bienvenido!</h1>
		<h3 class="want">Que deseas hacer?</h3>
		<div class="container">
  <div class="row">
    <div class="col">
      Viviendas
      <div>
    	<button 
  	class="btn btn-primary"><a href="vivienda" class="btn btn-primary">Registrar</a>
  	</button>
    </div>
    <div class="listBtn">
    	<button 
  	class="btn-primary"><a href="listaViviendas" class="btn btn-primary">Lista</a>
  	</button>
    </div>
  	</div>
    <div class="col">
      Usuarios
      <div>
      	<button 
  	class="btn btn-info"><a href="usuario" class="btn btn-info">Registrar</a>
  	</button>
    </div>
    <div class="listBtn">
    	<button 
  	class="btn btn-info"><a href="listaUsuarios" class="btn btn-info">Lista</a>
  	</button>
    </div>
  	</div>
    </div>  
  </div>
</div>
	</center>
</body>
</html>